#view_portfolio {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	
	.one {
		.bootstrap {
			div {
				background-color: #6f5499;
			}
		}
		.ferramentas {
			.box {
				li {
					div {
						padding-bottom: 20px;
					}
				}
			}
		}
	}
	.two {
		.portfolio {
			.box {
				.foto {
					img {
						max-height: 450px;
					}
				}
			}
			.btn {
				transition: none;
			}
		}
	}
}//view_portfolio 