<!-- portfolio.html -->
<div id="view_portfolio">
	<article class="one">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 titulo text-center">
					<h1>Skills</h1>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 skills">
					<h2>Estrutura</h2>
					<div class='box'>
						<ul class="list-unstyled">
							<li>
								<span>HTML5</span>
								<div class="progress html">
									<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">	
									</div>
								</div>
							</li>
							<li>
								<span>CSS3</span>
								<div class="progress css">
									<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
									</div>
								</div>
							</li>
							<li>
								<span>Bootstrap</span>
								<div class="progress bootstrap">
									<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
									</div>
								</div>
							</li>
							<li>
								<span>jQuery</span>
								<div class="progress jquery">
									<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 ferramentas">
					<h2>Ferramentas</h2>
					<div class='box'>
						<ul class="list-unstyled">
							<li>
								<span>Git</span>
								<div class="git"></div>
							</li>
							<li>
								<span>Less</span>
								<div class="less"></div>
							</li>
							<li>
								<span>Sass</span>
								<div class="sass"></div>
							</li>
							<li>
								<span>Node</span>
								<div class="node"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="two">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 titulo text-center">
					<h1>Portfolio</h1>
				</div>
				<div class="portfolio clearfix"></div>
			</div>
		</div>
	</article>
</div>