<!-- sobre.html -->
<div id="view_sobre">
	<article class="one">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 titulo text-center">
					<h1>Sobre</h1>
				</div>
				<div class="col-lg-12 ola"></div>
				<div class="col-lg-12 apresentacao"></div>
			</div>
		</div>
	</article>

	<article class="two">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 titulo text-center">
					<h1>Trabalho</h1>
				</div>
				<div class="job clearfix"></div>
			</div>
		</div>
	</article>
</div>